/*Creamos nueva fuente*/
@font-face {
    font-family: 'Lordish';
    src: url('./Font/Lordish-Regular.ttf') format('truetype'),
}
/*Cuerpo general de la pagina*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}
/*Empieza el header*/
header {
    background-color: #ff8b33;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
}
.titulo {
    font-family: 'Lordish';
    padding: 20px;
    font-size: 50px;
    line-height: 0;
}
nav {
    display: flex;
    gap: 20px;
    padding: 10px;
    font-size: clamp(25px, 30px, 35px);
    justify-content: center;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    margin-right: 90px;
}
nav a {
    color: white;
    text-decoration: none;
}
/* Fin del Header */

/*Productos del menu*/
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
.menu-item {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}
.categoria {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    color: #f48e41;
    font-size: clamp(22px, 3vw, 30px);
  }
img {
    width: 100%;
    border-radius: 10px;
}
footer {
    background-color: #222;
    color: white;
    padding: 10px;
    position:static;
    bottom: 0;
    width: 100%;
}

/* Estilos responsivos para móviles */
@media (max-width: 850px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .menu {
        justify-content: space-between;
      }
    
      .menu-item {
        flex: 0 0 35%; /* Ocupa 35% del ancho, caben 2 */
        padding: 10px;
        font-size: 16px; /* Tamaño de texto más pequeño */
      }
    
      .menu-item img {
        width: 100%;
      }
  }
